<div class="home-div">
  <h1>Search for Cities</h1>
  
  <div class="form-item">
    <form action="/results" method="GET">
      <label for="city">City:</label>
      <input type="text" name="city" id="city">
      <label for="state">State:</label>
      <input type="text" name="state" id="state">
      <select name="travellerId" id="travellers">
        <% travellers.forEach((traveller)=>{ %>
          <option value="<%= traveller.id %>"><%= traveller.firstname %> <%= traveller.lastname %></option>
        <% }) %>
      </select>
      <input type="submit" value="Search">
    </form>
  </div>
</div>